################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/DynamicBenchmark
/Benchmark/obj
/DynamicBenchmark/obj
/TesterClass/obj
